# Lock files
.~lock.*#

# Node modules
node_modules

# Unneeded package.json history and information
package-lock.json

# Exported image files
*.svg
*.png
*.eps
*.pdf
*.jpeg

# Intermediate files
*_.aux
*_.dvi
*_.log
*_.tex

# Avoid ignoring icons used in project
!docs/assets/**/*.svg
