# Lock files
.~lock.*#

# Node modules
node_modules/

# Unneeded package.json history and information
package-lock.json

# Exported image files
*.svg
*.png

!assets/**/*.svg
!assets/**/*.png

# Exported Geogebra zip file
*.ggb

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore binary files
bin/

# Gradle wrapper
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/

# Kotlin output
.kotlin/sessions/kotlin-compiler-[0-9]*.salive

# Error logs
*.hprof
